@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bgColor1: #1F2937;
    --bgColor2: #3882F6;
    --bgColor3: #A6A6A6;
    --heroHeadColor: #F9FAF8;
}

* {
    box-sizing: border-box;
    padding: 0%;
}

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.container-padding {
    padding: 0px 19%;
}


/** Hero Section **/

/* Header */
.hero-section {
    background-color: var(--bgColor1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: var(--heroHeadColor);
    font-size: 24px;
    font-weight: 600;

}

.header ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.header > ul > li > a {
    text-decoration: none;
    color: var(--bgColor3);
    font-size: 18px;
}
/* Header */

/* Hero Content */

.landing-content {
    display: flex;
    padding: 60px 0px;
    flex: 1 0 auto;
    gap: 0px;
}

.left-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--bgColor3);
    font-size: 18px;

}

.left-content h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--heroHeadColor);
}

.left-content > * {
    margin: 0px;
}

.right-content {
    flex: 0 1 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.placehold-img {
    flex: 0 1 500px;
    background-color: var(--bgColor3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    color: var(--heroHeadColor)
}

.left-content button {
    background-color: var(--bgColor2);
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 35px;
    color: var(--heroHeadColor);
    font-weight: 800;
    margin-top: 16px;
}
/* Hero Content*/


/** Hero Section **/